:root {
  --systemGray6Dark: rgb(28,28,30);
  --systemGray5Dark: rgb(44,44,46);
  --systemGray4Dark: rgb(58,58,60);
  --systemGray3Dark: rgb(72,72,74);
  --systemGray2Dark: rgb(99,99,102);
  --systemGray1Dark: rgb(152,152,157);

  --systemGray6Light: rgb(242,242,247);
  --systemGray5Light: rgb(229,229,234);
  --systemGray4Light: rgb(209,209,214);
  --systemGray3Light: rgb(199,199,204);
  --systemGray2Light: rgb(174,174,178);
  --systemGray1Light: rgb(142,142,147);

}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: var(--systemGray6Dark);
  color: var(--systemGray6Light);
  margin: 0px;
}


.center-div{
  text-align: center;
}




/* ~~ Top Navigation Bar ~~ */
.navigation-bar   {
	background-color: var(--systemGray5Dark);
  padding: 14px 0px;
	width: 100%;
}

.navigation-bar ul   {
	padding: 0px;
	margin: 0px;
  text-align:center;
  font-size: 17px;
}

.navigation-bar li    {
	list-style-type: none;
	padding: 14px;
  display:inline;
}

/* Style the links inside the navigation bar */
.navigation-bar a {
  color: var(--systemGray5Light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigation-bar a:hover {
  color: var(--systemGray6Light);
}

/* Add a color to the active/current link */
.navigation-bar a.active {
  color: var(--systemGray1Light);
}





.tft-unluck-form{
  max-width: 30rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  text-align: left;
}


label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}


.help-text {
  display: block;
  margin-top: 0.5rem;
  font-size: var(--font-size-small);
}
